<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Add a Movie</h4>
                </div>
                <div class="card-body">
                    <form #registerationForm="ngForm">

                        <label>Movie Continuity:</label>&nbsp;&nbsp;&nbsp;
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="1" name="optradio" value="true"
                                    [(ngModel)]="product.available">Continued
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="optradio" value="false"
                                    [(ngModel)]="product.available">Discontinued
                            </label>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="mname">Theater Name:</label>
                            <input type="text" class="form-control" required #mname="ngModel"
                                placeholder="Enter Theater name" id="mname" name="name" [(ngModel)]="product.theatername"
                                ngModel>
                            <span *ngIf="mname.invalid && mname.touched" style="color: red">Please enter a valid
                               Theater name.</span>

                        </div>
                    
                        <div class="form-group">
                            <label for="mname">Movie Name:</label>
                            <input type="text" class="form-control" required #mname="ngModel"
                                placeholder="Enter Movie name" id="mname" name="name1" [(ngModel)]="product.name"
                                ngModel>
                            <span *ngIf="mname.invalid && mname.touched" style="color: red">Please enter a valid
                            Movie  name.</span>

                        </div>
                    
                        <div class="form-group">
                            <label for="mctg">Movie Genre:</label>
                            <input type="text" class="form-control" required #mctg="ngModel"
                                placeholder="Enter Movie genre" id="mctg" name="category"
                                [(ngModel)]="product.category" ngModel>
                            <span *ngIf="mctg.invalid && mctg.touched" style="color:red">Please enter a valid
                              Movie  Genre.</span>
                        </div>

                        <div class="form-group">
                            <label for="desc">Movie  Description:</label>
                            <input type="text" class="form-control" required #desc="ngModel"
                                placeholder="Enter Movie description" id="desc" name="description"
                                [(ngModel)]="product.description" ngModel>
                            <span *ngIf="desc.invalid && desc.touched" style="color:red">Please enter a valid
                                Movie description.</span>
                        </div>

                        <div class="form-group">
                            <label for="mname">Showtimmings:</label>
                            <input type="text" class="form-control" required #mname="ngModel"
                                placeholder="Enter showtimmings name" id="mname" name="name2" [(ngModel)]="product.showtimings"
                                ngModel>
                            <span *ngIf="mname.invalid && mname.touched" style="color: red">Please enter a valid
                               Movie timmings</span>

                        </div>

                        

                        <div class="form-group">
                            <label for="stk">TicketsAvailable (In Strip):</label>
                            <input type="number" required #stk="ngModel" class="form-control"
                                placeholder="Enter total tickets available" id="stk" name="totalAvailable"
                                [(ngModel)]="product.totalAvailable" ngModel>
                            <span *ngIf="stk.invalid && stk.touched" style="color: red">Please enter a valid
                                total stock.</span>
                        </div>

                        <div class="form-group">
                            <label for="pc">Unit Price:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">&#8377;</span>
                                </div>
                                <input type="number" required #pc="ngModel" class="form-control"
                                    placeholder="Enter Ticket price" id="pc" name="price"
                                    [(ngModel)]="product.price" ngModel>
                            </div>
                            <span *ngIf="pc.invalid && pc.touched" style="color: red">Please enter a valid
                                unit price.</span>
                        </div>

                        <div class="form-group">
                            <label for="img">Select Movie Image:</label>
                            <input type="file" class="form-control-file border" id="img"
                                (change)="onChangeFileField($event)">
                        </div>

                        <hr>
                        <div class="text-center">
                            <div class="btn-group">
                                <button (click)="onSubmit()" name="add" class="btn btn-primary"
                                    [disabled]="registerationForm.invalid" data-toggle="modal"
                                    data-target="#myModal">Add Movie</button>
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Add a new Movie</h4>
                                                <button type="button" class="close" (click)="onClick()"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <span *ngIf="isValid" style="color:green">{{message}}</span>
                                                <span *ngIf="!isValid" style="color: red">{{message}}</span>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" name="close" class="btn btn-secondary" data-dismiss="modal"
                                                    (click)="onClick()">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>


        </div>
    </div>
</div>