<div class="container">
    <div class="row">
        <div class="col-6 mx-auto mt-3 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Delete Genre</h4>
                </div>
                <div class="card-body">
                    <form #categorydeletion="ngForm">

                        <div class="form-group">
                            <label for="id">Genre id:</label>
                            <input type="text" class="form-control" required #id="ngModel"
                                placeholder="Enter Genre id" id="id" name="lid" [(ngModel)]="nid"
                                ngModel>
                            <span *ngIf="id.invalid && id.touched" style="color: red">Please enter a valid
                                Genre id.</span>

                            </div>
                        <div class="text-center">
                            <div class="btn-group">
                                <button (click)="deletecategory(nid)" class="btn btn-primary"
                                    [disabled]="categorydeletion.invalid" data-toggle="modal"
                                    data-target="#lModal">Delete Genre</button>
                                <!-- The Modal -->
                                <div class="modal fade" id="lModal">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Delete a Genre</h4>
                                                <button type="button" class="close" (click)="onClick()"
                                                    data-dismiss="modal">&times;</button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <span *ngIf="isValid" style="color:green">{{message}}</span>
                                                <span *ngIf="!isValid" style="color: red">{{message}}</span>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                    (click)="onClick()">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <button type="reset" class="btn btn-danger">Reset</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>


        </div>
    </div>
</div>